<section data-ng-controller="ArticlesController">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
        <div class="form-group">
            <label for="firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="firstName" id="firstName" placeholder="First Name" required>
            </div>
        </div>

        <div class ="form-group">
            <label for="lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="lastName" id="lastName" placeholder="Last Name" required>
            </div>
        </div>

        <div class ="form-group">
            <label for="streetOne" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="streetOne" id="streetOne" placeholder="Street Address" required>
            </div>
        </div>

        <div class ="form-group">
            <label for="streetTwo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="streetTwo" id="streetTwo" placeholder="Apt / Unit #" required>
            </div>
        </div>
        <div class ="form-group">
            <label for="zip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="number" class="form-control" data-ng-model="zip" id="zip" placeholder="Zip Code" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</section>